.white {
    color: #fff;
}

.red,
.important {
    color: red;
}

.green {
    color: green;
}

.orange {
    color: orange;
}

.medium {
    color: #FF9900;
}

.gray {
    color: grey;
}

.critical {
    color: #9400d3;
}

.blue {
    color: blue;
}